{% extends 'PersonalAccountBundle:Teacher:base.html.twig' %}
{% block body %}
    <h2>Все счета</h2>
    <table id="all_invoices" class="table table-striped table-bordered table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>Предмет</th>
            <th>Начальная дата (год-месяц-день)</th>
            <th>Конечная дата (год-месяц-день)</th>
            <th>Сумма(руб.)</th>
            <!--<th>Оплачено</th>-->
        </tr>
        </thead>
        <tbody>
        {% for value in invoices %}
            <tr>
                <td>{{ value["l_title"]}}</td>
                <td>{{ value["i_from"] ? value["i_from"]|date('Y-m-d')}}</td>
                <td>{{ value["i_to"]|date('Y-m-d')}}</td>
                <td>{{ value["i_total"] - value["i_lesson_comission"]}}</td>
                <!--<td>{{ value["i_payed"] ? 'да': 'нет'}}</td>-->
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block javascripts %}
    <script src ="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#all_invoices').DataTable({
                ordering: true,
                columnDefs : [
                    { type : 'date', targets : [1,2],orderSequence: ["desc", "asc"], }
                ],
            });
        });
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/jquery.dataTables.min.css') }}" rel="stylesheet">
{% endblock %}
