{% extends 'PersonalAccountBundle:Admin:base.html.twig' %}
{% block body %}
    <h2>Все счета</h2>
    <table id="my_invoices" class="table table-striped table-bordered table-hover">
        <thead class="thead-inverse">
        <tr>
            <th>Название</th>
            <th>Начальная дата (год-месяц-день)</th>
            <th>Конечная дата (год-месяц-день)</th>
            <th>Сумма к оплате (руб.)</th>
            <th>Оплата учителям</th>
            <th>Итоговая комиссия</th>
        </tr>
        </thead>
        <tbody>
        {% for value in invoices %}
            <tr>
                <td>
                    <a href="/my_invoices/{{ value["mi_from_date"] ? value["mi_from_date"]|date('Y-m-d'): '0'}}/{{ value["mi_to_date"]|date('Y-m-d')}}">
                        Счета за период c {{ value["mi_from_date"] ? value["mi_from_date"]|date('Y-m-d')}} по
                        {{ value["mi_to_date"]|date('Y-m-d')}}
                    </a>
                </td>
                <td>{{ value["mi_from_date"] ? value["mi_from_date"]|date('Y-m-d')}}</td>
                <td>{{ value["mi_to_date"]|date('Y-m-d')}}</td>
                <td>{{ value["sum_total"]}}</td>
                <td>{{ value["sum_total"] - value["comission_total"] }}</td>
                <td>{{ value["comission_total"]}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <a href="/invoice_params" class="btn btn-primary">Сформировать новый счет</a>
{% endblock %}
{% block javascripts %}
    <script src ="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#my_invoices').DataTable({
                ordering: true,
                order: [2, "desc" ],
                iDisplayLength: 50,
                columnDefs : [
                    { type : 'date', targets : [1,2],orderSequence: ["desc", "asc"], }
                ],
            });
        });
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('/css/jquery.dataTables.min.css') }}" rel="stylesheet">
{% endblock %}
