{% extends 'PersonalAccountBundle:Admin:base.html.twig' %}
{% block body %}
    <h2>Все ученики</h2>
    <table id="all_students" class="table table-striped table-bordered table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>Фамилия Имя</th>
            <th>Email</th>
            <th>Skype</th>
            <th>Ссылки на соцсети</th>
            <th>День рождения</th>
            <th>Родитель 1</th>
            <th>Родитель 2</th>
            <th>Город</th>
            <th>Класс</th>
            <th>Группа</th>
            <th>Комментарии</th>
        </tr>
        </thead>
        <tbody>
        {% for value in result %}
            <tr>
                <td><a href="/students/{{ value.id }}">{{ value.surname ~ ' ' ~ value.name }}</a></td>
                <td>{{ value.email }}</td>
                <td>{{ value.skype }}</td>
                <td>{{ value.VkUrl }}<br/>{{ value.FbUrl}} </td>
                <td>{{ value.birthday|date('Y-m-d') }}</td>
                <td>{{ value.Parent1Name }}</td>
                <td>{{ value.Parent2Name }}</td>
                <td>{{ value.city }}</td>
                <td>{{ value.grade }}</td>
                {% if value.groups|length > 0 %}
                    <td>
                        {%  for g in value.groups if g.active %}
                            {{ g.name }}<br/>
                        {% endfor %}
                    </td>
                        {% else %}
                    <td></td>
                    {% endif %}
                <td>{{ value.comments }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <button class="btn btn-danger" data-toggle="modal" data-target="#FormModalDelete">Удалить</button>
    <!-- Modal Delete-->
    <div class="modal fade" id="FormModalDelete" role="dialog">
        <div class="modal-dialog modal-lrg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="formModalDeleteLabel">Удалить учеников</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                    {{ form_widget(form.student) }}
                    {{ form_widget(form.delete, { 'label': 'Удалить'}) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src ="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script>

        $(document).ready(function() {
            $('#all_students').DataTable({
                ordering: true,
                iDisplayLength: 100,
                order: [[ 9, "asc" ]],
            });

            $('.sorting_1').each(function () {
                    $(this).text(function () {
                        if ($(this).text().trim().length == 0){
                            return $(this).text().trim();
                            console.log($(this).text().trim());
                        }

                    });
            });

            $( ".sorting_1:empty" )
                .closest('tr').attr({title: "Группа не присвоена"})
                .closest('tr').css( "background", "rgb(255,220,200)" );


        });

    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/jquery.dataTables.min.css') }}" rel="stylesheet">
{% endblock %}